.navbar-container {
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding: 10px 20px;

  color: rgb(18, 17, 17);
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.centered-links {
  display: flex;
    justify-content:space-evenly;
  align-items: center;
  flex: 2;
  justify-content: center;
}

.end-links {
  display: flex;
  align-items: center;
  margin-left: 500px;
  
}
button{
  padding: 10px;
  border-radius: 50px;
  color: red;
  border: solid 2px;

}




.logo {
  font-size: 2rem;
  font-weight: bold;

}

.nav-links li {
  margin: 0 15px;
}

.nav-links li a {
  text-decoration: none;
  color: grey;
  font-size: 1.2rem;
}

.nav-links li a:hover {
  text-decoration: underline #ff6b6b 2px;
  
  
}
